---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/classifications/KZFzniwnSyZfZ7v7nn?apikey=TEST&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=utf-8
      Rate-Limit:
      - '500000'
      Rate-Limit-Available:
      - '499970'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1466057554290'
      X-Application-Context:
      - application:local,default,jphx1:8080
      X-Unknown-Params:
      - format
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/discovery/v2/classifications/KZFzniwnSyZfZ7v7nn?locale=en-us"}},"segment":{"id":"KZFzniwnSyZfZ7v7nn","name":"Film","_links":{"self":{"href":"/discovery/v2/classifications/segments/KZFzniwnSyZfZ7v7nn?locale=en-us"}},"_embedded":{"genres":[{"id":"KnvZfZ7vAka","name":"Miscellaneous","_links":{"self":{"href":"/discovery/v2/classifications/genres/KnvZfZ7vAka?locale=en-us"}},"_embedded":{"subgenres":[{"id":"KZazBEonSMnZfZ7vFll","name":"Classic/Reissue","_links":{"self":{"href":"/discovery/v2/classifications/subgenres/KZazBEonSMnZfZ7vFll?locale=en-us"}}},{"id":"KZazBEonSMnZfZ7vFln","name":"Miscellaneous","_links":{"self":{"href":"/discovery/v2/classifications/subgenres/KZazBEonSMnZfZ7vFln?locale=en-us"}}}]}},{"id":"KnvZfZ7vAkF","name":"Family","_links":{"self":{"href":"/discovery/v2/classifications/genres/KnvZfZ7vAkF?locale=en-us"}},"_embedded":{"subgenres":[{"id":"KZazBEonSMnZfZ7vFlt","name[...]
