---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/venues/KovZpZAFnIJA?apikey=TEST&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=utf-8
      Rate-Limit:
      - '500000'
      Rate-Limit-Available:
      - '499967'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1466057554290'
      X-Application-Context:
      - application:local,default,jash1:8080
      X-Unknown-Params:
      - format
    body:
      encoding: UTF-8
      string: '{"name":"#2 Please do not use, left over from UCV initial acct set
        up","type":"venue","id":"KovZpZAFnIJA","test":false,"url":"http://ticketmaster.ca/venue/341395","locale":"en-us","postalCode":"K0C1X0","timezone":"America/Toronto","city":{"name":"Morrisburg"},"state":{"name":"Ontario","stateCode":"ON"},"country":{"name":"Canada","countryCode":"CA"},"address":{"line1":"13740
        County Road 2"},"location":{"longitude":"-75.18635300","latitude":"44.89937100"},"markets":[{"id":"103"}],"dmas":[{"id":519}],"_links":{"self":{"href":"/discovery/v2/venues/KovZpZAFnIJA?locale=en-us"}}}'
  recorded_at: Wed, 15 Jun 2016 14:56:48 GMT
recorded_with: VCR 3.0.3
