---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/attractions/K8vZ9171ya0?apikey=TEST&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=utf-8
      Rate-Limit:
      - '500000'
      Rate-Limit-Available:
      - '499968'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1466057554290'
      X-Application-Context:
      - application:local,default,jphx1:8080
      X-Unknown-Params:
      - format
    body:
      encoding: UTF-8
      string: '{"name":"#SummersEND Music Festival","type":"attraction","id":"K8vZ9171ya0","test":false,"url":"http://ticketmaster.com/artist/899742","locale":"en-us","images":[{"ratio":"3_2","url":"http://s1.ticketm.net/dam/c/MUSIC_TABLET_LANDSCAPE_3_2.jpg","width":1024,"height":683,"fallback":true},{"ratio":"16_9","url":"https://s1.ticketm.net/dbimages/147984a.jpg","width":205,"height":115,"fallback":false},{"ratio":"3_2","url":"http://s1.ticketm.net/dam/c/MUSIC_ARTIST_PAGE_3_2.jpg","width":305,"height":203,"fallback":true},{"ratio":"16_9","url":"http://s1.ticketm.net/dam/c/MUSIC_RECOMENDATION_16_9.jpg","width":100,"height":56,"fallback":true},{"ratio":"16_9","url":"http://s1.ticketm.net/dam/c/MUSIC_TABLET_LANDSCAPE_LARGE_16_9.jpg","width":2048,"height":1152,"fallback":true},{"ratio":"3_2","url":"http://s1.ticketm.net/dam/c/MUSIC_RETINA_PORTRAIT_3_2.jpg","width":640,"height":427,"fallback":true},{"ratio":"4_3","url":"https://s1.ticketm.net/dbimages/147983a.jpg","width":305,"height":225,"fallback":false},{"ratio":"16_9","url":"http://s1.ticketm.net/dam/c/MUSIC_TABLET_LANDSCAPE_16_9.jpg","width":1024,"height":576,"fallback":true},{"ratio":"16_9","url":"http://s1.ticketm.net/dam/c/MUSIC_RETINA_PORTRAIT_16_9.jpg","width":640,"height":360,"fallback":true},{"ratio":"16_9","url":"http://s1.ticketm.net/dam/c/MUSIC_RETINA_LANDSCAPE_16_9.jpg","width":1136,"height":639,"fallback":true}],"classifications":[{"primary":true,"segment":{"id":"KZFzniwnSyZfZ7v7nJ","name":"Music"},"genre":{"id":"KnvZfZ7vAvF","name":"Dance/Electronic"},"subGenre":{"id":"KZazBEonSMnZfZ7vAJ1","name":"Club
        Dance"}}],"_links":{"self":{"href":"/discovery/v2/attractions/K8vZ9171ya0?locale=en-us"}}}'
  recorded_at: Wed, 15 Jun 2016 14:56:16 GMT
recorded_with: VCR 3.0.3
