---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/venues?apikey=TEST&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=utf-8
      Rate-Limit:
      - '500000'
      Rate-Limit-Available:
      - '499973'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1466057554290'
      X-Application-Context:
      - application:local,default,jphx1:8080
      X-Unknown-Params:
      - format
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/discovery/v2/venues?view=null{&page,size,sort}","templated":true},"next":{"href":"/discovery/v2/venues?view=null&page=1&size=20{&sort}","templated":true}},"_embedded":{"venues":[{"name":"#1
        Please do not use, left over from UCV initial acct set up","type":"venue","id":"KovZpZAFnIEA","test":false,"url":"http://ticketmaster.ca/venue/341396","locale":"en-us","postalCode":"K0C1X0","timezone":"America/Toronto","city":{"name":"Morrisburg"},"state":{"name":"Ontario","stateCode":"ON"},"country":{"name":"Canada","countryCode":"CA"},"address":{"line1":"Crysler
        Park Marina, 13480 County Rd 2"},"location":{"longitude":"-75.18702730","latitude":"44.94535340"},"markets":[{"id":"103"}],"dmas":[{"id":519}],"_links":{"self":{"href":"/discovery/v2/venues/KovZpZAFnIEA?locale=en-us"}}},{"name":"#2
        Please do not use, left over from UCV initial acct set up","type":"venue","id":"KovZpZAFnIJA","test":false,"url":"http://ticketmaster.ca/venue/341395","locale":"en-us","postalCode":"K0C1X0","timezone":"America/Toronto","city":{"name":"Morrisburg"},"state":{"name":"Ontario","stateCode":"ON"},"country":{"name":"Canada","countryCode":"CA"},"address":{"line1":"13740
        County Road 2"},"[...]
