---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/venues?apikey=TEST&format=json&keyword=INVALIDSEARCHINPUT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json;charset=utf-8
      Rate-Limit:
      - '500000'
      Rate-Limit-Available:
      - '499973'
      Rate-Limit-Over:
      - '0'
      Rate-Limit-Reset:
      - '1466057554290'
      X-Application-Context:
      - application:local,default,jphx1:8080
      X-Unknown-Params:
      - format
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"/discovery/v2/venues?countryCode=US&keyword=INVALIDSEARCHINPUT"}},"page":{"size":20,"totalElements":0,"totalPages":0,"number":0}}'
  recorded_at: Wed, 15 Jun 2016 14:54:38 GMT
recorded_with: VCR 3.0.3
